.calculator {
    display: flex;
    flex-direction: column;

    max-width: 40ch;
    margin: 0 auto;

    border-radius: 1em;
    background-color: #ddd;
}

.display {
    min-height: 1.2em;
    padding: .5em;

    text-align: right;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #efefef;
}

.input {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "one   two   three plus   clear"
    "four  five  six   minus  ."
    "seven eight nine  times  solve"
    ".     zero  .     divide solve";
    gap: .3em;

    padding: .5em;
}

#button_1 {grid-area: one;}
#button_2 {grid-area: two;}
#button_3 {grid-area: three;}
#button_4 {grid-area: four;}
#button_5 {grid-area: five;}
#button_6 {grid-area: six;}
#button_7 {grid-area: seven;}
#button_8 {grid-area: eight;}
#button_9 {grid-area: nine;}
#button_0 {grid-area: zero;}
#add      {grid-area: plus;}
#subtract {grid-area: minus;}
#multiply {grid-area: times;}
#divide   {grid-area: divide;}
#solve    {grid-area: solve;}
#clear    {grid-area: clear;}